<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Amelia Kratzer">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Amelia Kratzer's professional website">
    <title>Amelia Kratzer</title>
</head>
<body style="font-family: Arial">
    <header>
        <h1>Amelia Kratzer</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact me</a>
            <a href="fun.html">For fun</a>
        </nav>
    </header>
        <div class="main">
            <h2>Curriculum Vitae</h2>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
                <tr>
                    <td>SOURCES Intern</td>
                    <td>Worked for Statewide California Earthquake Center, building 2 neural networks using TensorFlow to interpolate key earthquake data</td>
                </tr>
                <tr>
                    <td>Computer Science Peer Tutor</td>
                    <td>Conduct weekly 1-on-1 tutoring sessions in Fundamentals of Programming and Physics, Student Academic Success Center</td>
                </tr>
                <tr>
                    <td>Women in Information Systems Member</td>
                    <td>Engage in networking, mentorship, and professional development initiatives, promoting gender equality in information systems</td>
                </tr>
            </table>
        </div>
        <a href="../static/resume.pdf" target="_blank">My resume (pdf)</a>
        <footer>
            <p>&copy; 2025 designed and coded by Amelia Kratzer</p>
        </footer>
</body>
</html>