<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../static/script.js" defer></script>
    <meta name="author" content="Amelia Kratzer">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Amelia Kratzer's professional website">
    <title>Amelia Kratzer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Amelia Kratzer</h1>
        <nav class="navbar">
            <a href="../index.html">about</a>
            <a href="cv.html">resume</a>
            <a href="fun.html">interests</a>
            <a href="contact.html">contact</a>
        </nav>
    </header>
        <div class="main">
            <h2>Curriculum Vitae</h2>
            <table>
                <tbody>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
                <tr>
                    <td>Carnegie Mellon University Student</td>
                    <td>Studying Information Systems with a Minor in Artifical Intelligence</td>
                </tr>
                <tr>
                    <td>SOURCES Intern</td>
                    <td>Worked for Statewide California Earthquake Center, building 2 neural networks using TensorFlow to interpolate key earthquake data</td>
                </tr>
                <tr>
                    <td>Computer Science Peer Tutor</td>
                    <td>Conduct weekly 1-on-1 tutoring sessions in Fundamentals of Programming and Physics, Student Academic Success Center</td>
                </tr>
                <tr>
                    <td>Women in Information Systems Member</td>
                    <td>Engage in networking, mentorship, and professional development initiatives, promoting gender equality in information systems</td>
                </tr>
                <tr>
                    <td>Association for Computing Machinery Member</td>
                    <td>Wrote posts for Education Blog, boosting student engagement in High Performance Computing initiatives</td>
                </tr>
                </tbody>
            </table>
            <a href="../static/resume.pdf" target="_blank">My resume (pdf)</a>
        </div>
        <footer>
            <p>Designed and coded by Amelia Kratzer</p>
            <p id="copyYear"></p>
        </footer>
</body>
</html>