<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../static/script.js" defer></script>
    <meta name="author" content="Amelia Kratzer">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Amelia Kratzer's professional website">
    <title>Amelia Kratzer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Amelia Kratzer</h1>
        <nav class="navbar">
            <a href="../index.html">about</a>
            <a href="cv.html">resume</a>
            <a href="fun.html">interests</a>
            <a href="contact.html">contact</a>
        </nav>
    </header>
        <div class="mainLayout">
            <div id="item1">
                <h2>Things I love to do for fun</h2>
                <ul id="funItems">
                    <li>Play tennis</li>
                    <li>Hike</li>
                    <li>Bake</li>
                    <li>Try new cafes</li>
                </ul>
                <!-- <button id="showButton" onClick="showList()">Click to see...</button> -->
            </div>
            <div id="item2">
                <img src="../static/tennis.png" alt="Tennis in the evening" class="funIMG" width="400" height="400">
            </div>
            <div id="item3">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/YP8a6ugKQ6Y?si=5MbaEodk-BdKRo6n" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div id="item4">
                <div class="container">
                    <h2>Need some advice?</h2>
                    <p id="adviceText">Click the button below to get a random piece of advice!</p>
                    <button type="submit" class="submit" onClick="getAdvice()">Get Advice</button>
                </div>
            </div>
        </div>
        <footer>
            <p>Designed and coded by Amelia Kratzer</p>
            <p id="copyYear"></p>
        </footer>
</body>
</html>