<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../static/script.js" defer></script>
    <meta name="author" content="Amelia Kratzer">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Amelia Kratzer's professional website">
    <title>Amelia Kratzer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <h1 id="webname">Amelia Kratzer</h1>
        <nav class="navbar">
            <a href="../index.html">about</a>
            <a href="cv.html">resume</a>
            <a href="fun.html">interests</a>
            <a href="contact.html">contact</a>
        </nav>
    </header>
        <div class="main">
            <h2>Things I love to do for fun</h2>
            <ul>
                <li>Play tennis</li>
                <li>Hike</li>
                <li>Bake</li>
                <li>Try new cafes</li>
            </ul>
        </div>
        <footer>
            <p>&copy; 2025 designed and coded by Amelia Kratzer</p>
        </footer>
</body>
</html>