* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: 
        "wdth" 100;
    padding: 5px;
    margin: 5px;
}

header {
    color: #123499;
}

#webname {
    background-color: #add8e6;
}

.navbar a {
    text-decoration: none;
    color: #123499;
    margin-right: 15px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #b6b6c0;
    color: white;
    width: fit-content;
}

tr:nth-child(even) {
    background-color: #ececee;
}

form * {
    display: block;
    margin: auto;
    text-align: center;
}

#submit {
    background-color: #123499;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
}